<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hx.reader.model.dao.TagTemperature" >
	<resultMap type="com.hx.reader.model.pojo.TagTemperaturePojo" id="baseResult">
		<result property="id" column="id" jdbcType="INTEGER"/>
		<result property="name" column="name" jdbcType="VARCHAR"/>
		<result property="identitycard" column="identitycard" jdbcType="VARCHAR"/>
		<result property="temperature" column="temperature" jdbcType="VARCHAR"/>
		<result property="createtime" column="createtime" jdbcType="DATE"/>
		<result property="remark" column="remark" jdbcType="DATE"/>
	</resultMap>
	<sql id="Base_Column_List">
	  id,name,identitycard,temperature,createtime,remark
	</sql>
	<select id="selectTapt" resultMap="baseResult" parameterType="map">
	   select <include refid="Base_Column_List" /> from tag_temperature
	   <where>
	     <if test="name != null and name !=''">
	        name like '${name}%'
	     </if>
	   </where>
	</select>
</mapper>